{% load static %}

<nav class="navbar navbar-expand-lg content sticky-top">
    <div class="">
        <a class="nav-link text-dark" href="/">
            <h1>Review</h1>
            <span></span>
        </a>
    </div>
    <button class="navbar-toggler bg-info text-white" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <ul class="navbar-nav mr-auto text-white">
            {% if user.is_authenticated %}
            <div class="btn btn btn ml-5">
                <li class="text-light">
                    <a class="text-success ml-2" href="{% url 'profile' %}">Profile</a>
                </li>
            </div>
            <div class="btn btn btn ml-5">
                <li>
                    <a class="text-success ml-2" href="{% url 'home' %}">Logout</a> 
                </li>
            </div>
            <div class=" mt-2 btn btn btn ml-2">
                <li class="nav-item ml-2 ">
                    <a class="nav-link text-success" href="{% url 'newproject' %}">SUBMIT PROJECT</a>
                </li>
            </div>
            {% else %}
            <div class="btn btn btn">
                <li class="nav-item">
                    <a class="nav-link text-success" href="{% url 'login' %}">Login</a>
                </li>
            </div>
            <div class="btn btn btn">
                <li class="nav-item">
                    <a class="nav-link text-success" href="{% url 'register' %}">Register</a>
                </li>
            </div>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            <div class="btn btn -md">
              <form class="form-inline" action="{% url 'search' %}">
                <div class="md-form my-0">
                  <input class="form-control mr-sm-2 text-success" type="text" placeholder="Search" aria-label="Search" name="post">
                </div>
              </form>
            </div>
          </ul>
    </div>
</nav>