{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="logout">
    <div class="container">
        <div class="overlaybanner">
            <div class=" ml-5">
                <h1 class="subhead"><span class="first-letter">A</span>bout</h1><hr>
                <div class="about">
                    <p>The application helps users to upload their projects and get reviews about them.</p>
                    <p>Upload your project today and get reviews.</p>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}